.selection-modal {
    background-color: #fff;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 9px;
}

.back {
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.back p {
    font-size: 1.1rem;
    color: #000;
}

.no-reward {
    margin-bottom: 1.7rem;
}

.no-reward input{
    margin-right: 2rem;
}

.no-reward p {
    color: #000;
}

.selection-modal .cyan {
    margin-top: 0.2rem;
}

.selection-modal .reward input {
    margin-right: 2rem;
}

.selection-modal .reward .flex {
    margin-bottom: 1.7rem;
}

.selection-modal .reward-h2 {
    font-size: 1.5rem !important;
    margin: 2rem 0 1.5rem;
}