@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    background-color: #f8f9fa;
    font-family: 'Commissioner', sans-serif;
}

header {
    background-image: url("./images/image-hero-mobile.jpg");
    background-color: #cccccc; 
    height: 300px;
    background-position: center;
    background-size: cover; 
}

.nav-top {
    height: 4rem;
    justify-content: space-between; 
}

main,
.nav-top {
    padding: 0 1.5rem;
}

.mastercraft {
    background-color: #fff;
    margin-top: -2rem;
    padding: 0 1rem 2rem;
    border-radius: 7px;
}

#logo-mastercraft {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -1.5rem;
}

p {
    font-size: 15px;
    color: grey; 
    line-height: 1.5;
}

.mastercraft h1,
.mastercraft p,
.numbers h1,
.numbers p {
    text-align: center;
}

.mastercraft h1 {
    font-size: 1.4rem;
}

.mastercraft p {
    margin: 1rem 0;
}

button {
    outline: none;
    border: none;
}

.green-btn {
    border-radius: 26px;
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 16px;
    margin-right: 1rem;
    font-family: 'Commissioner', sans-serif;
}

.green-btn:hover {
   background-color: hsl(176, 72%, 28%);
}

.numbers {
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 7px;
    padding: 2rem;
}

.numbers div {
    margin-bottom: 2rem;
}

.line {
    background-color: #cccccc;
    height: 1px;
    width: 5rem;
    display: block;
    margin: 0 auto;
}

.numbers h1 {
    font-size: 1.8rem;
}

.numbers p {
    margin: .6rem auto 1.5rem;
}

#about {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 7px;
    margin-top: 2rem;
}

#about h2 {
    font-size: 1.2rem;
}

.notes {
    padding-top: 1rem;
}

.reward {
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 1rem;
    margin-top: 2rem;
}

.bold {
    font-weight: 700;
}

.cyan {
    color: hsl(176, 50%, 47%);
    margin-top: .5rem;
}

.member {
    margin: 1.2rem 0;
}

.reward-h2 {
    font-size: 2rem !important;
    margin-bottom: 1.8rem;
}

sup {
    font-size: 15px;
    font-weight: 400;
    margin-left: .5rem;
    color: grey;
}

.grey-btn {
    background-color: hsl(0, 0%, 48%);
}